@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light-green: #687560;
    --dark-green: #2C3527;
    --white: #FFFFFF;
    --black: #000000;
}

/* TODO: Set Font family, weight and sizes.*/
body {
    font-family: 'Fira Sans', 'Tahoma', sans-serif;
    background: ghostwhite;
}

section, .subsection {
    display: flex;
    flex-flow: column;
}
section {
    --section-padding: 1.5rem;
    --section-margin: 1rem;

    width: min(
        /* Small screens: 100% - padding and with for both sides */
        100% - (var(--section-padding) + var(--section-margin)) * 2,
        /* Large screens: 75ch + padding for both sides*/
        75ch + var(--section-padding) * 2
    );
    /*auto to center*/
    margin: var(--section-margin) auto;
    padding: var(--section-padding);
    gap: var(--section-padding);

    background: var(--light-green);
}
.subsection {
    --subsection-padding: 1rem;

    padding: var(--subsection-padding);
    background: var(--white);
}

input {
    border: 2px solid var(--dark-green);
    border-radius: 5px;
}
input[type='file'] {
    border: initial;
}

/*TODO: Break button out into a component*/
button {
    padding: 1ch;
    border: 4px solid;
    border-radius: 10px;
    outline: 3px solid;
    outline-offset: -8px;
    font-size: 1.5rem;
    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }
}
.button--light {
    color: var(--dark-green);
    border-color: var(--white);
    outline-color: var(--dark-green);
    background: var(--white);

    &:hover {
        color: var(--white);
        border-color: var(--dark-green);
        outline-color: var(--white);
        background: var(--dark-green);
    }
}
.button--dark {
    color: var(--white);
    border-color: var(--dark-green);
    outline-color: var(--white);
    background: var(--dark-green);

    &:hover {
        color: var(--white);
        border-color: var(--light-green);
        outline-color: var(--white);
        background: var(--light-green);
    }
}
