@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light-green: #687560;
    --dark-green: #2C3527;
    --white: #FFFFFF;
    --black: #000000;
}

/* TODO: Set Font family, weight and sizes.*/
body {
    font-family: 'Fira Sans', 'Tahoma', sans-serif;
    font-weight: normal;
    font-variant: normal;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1em;

    background: var(--light-green);
    padding: 1em;
}

.subsection {
    background: var(--white);
    padding: 0.5em;
}
