@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
    --light-green: #687560;
    --dark-green: #2C3527;
    --white: #FFFFFF;
    --black: #000000;
}

/* TODO: Set Font family, weight and sizes.*/
body {
    font-family: 'Fira Sans', 'Tahoma', sans-serif;
    background: ghostwhite;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

section, .subsection {
    display: flex;
    flex-flow: column;
}
section {
    --section-padding: 1.5rem;
    --section-margin: 1rem;

    width: min(
        /* Small screens: 100% - padding and with for both sides */
        100% - (var(--section-padding) + var(--section-margin)) * 2,
        /* Large screens: 75ch + padding for both sides*/
        75ch + var(--section-padding) * 2
    );
    /*auto to center*/
    margin: var(--section-margin) auto;
    padding: var(--section-padding);
    gap: var(--section-padding);

    background: var(--light-green);
}
.subsection {
    --subsection-padding: 1rem;

    padding: var(--subsection-padding);
    background: var(--white);
}

input {
    border: 2px solid var(--dark-green);
    border-radius: 5px;
}
input[type='file'] {
    border: initial;
}
.error {
    color: red;
}
